---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Kotlin from "./icons/Kotlin.astro"
import Firebase from "./icons/Firebase.astro"
import Sqlite from "./icons/Sqlite.astro"
import Figma from "./icons/Figma.astro"
import Flutter from "./icons/Flutter.astro"
import Dart from "./icons/Dart.astro"
import MySql from "./icons/MySql.astro"
import C from "./icons/C.astro"
import Astroo from "./icons/Astroo.astro"
import Javascript from "./icons/Javascript.astro"
import Html from "./icons/Html.astro"

const TAGS = {
  CPLUSPLUS: {
    name: "C++",
    class: "bg-[#00599C] text-white", // Azul oficial de C++ con texto blanco
    icon: C,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black", // Color oficial de JavaScript con texto negro
    icon: Javascript, // Nombre del archivo o componente de icono
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26] text-white", // Color oficial de HTML5 con texto blanco
    icon: Html, // Nombre del archivo o componente de icono
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white", // Naranja oficial de Astro con texto blanco
    icon: Astroo,
  },
  KOTLIN: {
    name: "Kotlin",
    class: "bg-[#7F52FF] text-white", 
    icon: Kotlin,
  },
  DART: {
    name: "Dart",
    class: "bg-[#00C4B3] text-white", // Color representativo de Dart
    icon: Dart,
  },
FLUTTER: {
    name: "Flutter",
    class: "bg-[#02569B] text-white", // Color representativo de Flutter
    icon: Flutter,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003B44] text-white", // Color más oscuro para mejor contraste
    icon: MySql,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#F9A825] text-black", // Fondo más oscuro para mejor contraste
    icon: Firebase,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#A259FF] text-white", // Color representativo de Figma
    icon: Figma,
  },
  SQLITE: {
    name: "SQLite",
    class: "bg-[#003B57] text-white", // Color representativo de SQLite
    icon: Sqlite,
  },
}
const PROJECTS = [
  {
    title: "MejorAppT",
    description:
      "Aplicación que ayuda a medir niveles de ansiedad y proporciona una serie de consejos para que sepas como afrontarla realizando un test de preguntas sencillas. Publicada en la Google Play Store.",
    link: "https://play.google.com/store/apps/details?id=com.gregorioprieto.mejorappt&hl=en_US",
    image: "/projects/mejorappt.png",
    tags: [TAGS.KOTLIN, TAGS.FIREBASE, TAGS.SQLITE, TAGS.FIGMA],
  },
  {
    title: "ShopEase",
    description:
      "Aplicación dedicada para la gestión de compras online, con la comodidad de comprar desde casa con la eficiencia de gestión de recursos empresariales (ERP) para el control de empleados, administradores, soporte, etc. Desarrollada en Flutter.",
    github: "https://github.com/Abdelhaq03/ShopEase",
    image: "/projects/flutter.png",
    tags: [TAGS.FLUTTER, TAGS.CPLUSPLUS, TAGS.FIREBASE, TAGS.MYSQL, TAGS.FIGMA],
  },
  {
    title: "Plantilla PortFolio",
    description:
      "PortFolio personal desarrollado con Astro, HTML, CSS y TailwindCSS.",
    github: "https://github.com/Abdelhaq03/ShopEase",
    image: "/projects/portfolio.png",
    tags: [TAGS.ASTRO, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



